--extra-index-url https://download.pytorch.org/whl/cpu
aiogram
aiohttp
python-dotenv==1.0.0
youtube-transcript-api==0.6.1
googletrans==4.0.0rc1
yt-dlp==2023.11.14
torch>=2.0.0
faster-whisper
setuptools<81
