--extra-index-url https://download.pytorch.org/whl/cpu
--only-binary=:all:
--prefer-binary
aiogram==3.4.1
aiohttp==3.9.1
python-dotenv==1.0.0
youtube-transcript-api==0.6.1
googletrans==4.0.0rc1
yt-dlp==2023.11.14
torch>=2.0.0
faster-whisper
